In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
# Retrive the dataset
ds=pd.read_csv('train.csv')

In [3]:
# Seperate X as feature vector and Y as output
X=ds.iloc[:,0:19]
Y=ds.iloc[:,-1]
X.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23
0,20000,2,2,2,53,4,4,3,3,2,...,18547,19118,18679,19812,0,1300,1170,0,1600,0
1,100000,2,1,2,28,0,0,0,2,0,...,14479,10775,10998,12655,1300,3005,0,700,2000,1500
2,200000,2,2,1,35,0,0,0,0,0,...,74770,75826,77741,79597,4000,3010,2600,3000,3000,3000
3,50000,2,1,1,43,0,0,0,0,2,...,29975,30559,29433,30045,2449,1778,2382,0,1251,1051
4,100000,2,6,1,29,0,0,0,0,0,...,58083,88344,49443,23159,5712,3503,59000,1600,1000,1000

In [4]:
# Feature scaling
X=X.to_numpy()
ma=np.amax(X,axis=0)
X=np.divide(X,ma)
X=pd.DataFrame(X)

In [5]:
# Distribute data among training set and test set
X_train, X_test, Y_train, Y_test = train_test_split (X, Y, test_size=0.4)
# Convert sets from datafram to numpy vectors
X_train=X_train.to_numpy().T
X_test=X_test.to_numpy().T
Y_train=Y_train.to_numpy()
Y_test=Y_test.to_numpy()
# convert 1D vector into 2D vector
Y_test=Y_test.reshape((1,X_test.shape[1]))
Y_train=Y_train.reshape((1,X_train.shape[1]))

(23, 20000)

In [13]:
m=X_train.shape[1] # Nos of expamle
features=X_train.shape[0] #Features
iteration=2000
learning_rate=0.01

In [14]:
#initialize parameter
W = np.zeros((features, 1))
b = 0
assert(W.shape == (features, 1))
assert(isinstance(b, float) or isinstance(b, int))

In [15]:
#Training
for i in range(iteration):
    #Forward Propogation
    Z=np.dot(W.T,X_train)+b
    A=1/(1+np.exp(-Z))
    #cost Function
    J=(- 1 / m) * np.sum(Y_train * np.log(A) + (1 - Y_train) * (np.log(1 - A))) 
    #Backpropogation
    dW=(1/m)*(np.dot(X_train,(A-Y_train).T))
    db=(1/m)*(np.sum(A-Y_train))
    #Update the parameter
    W=W-learning_rate*dW
    b=b-learning_rate*db
    # Degrading costs
    if i%100==0:
        print(J)

0.6931471805599453
0.5823029002845883
0.5441662648841645
0.5293425489556683
0.5227774639206709
0.5194065802530337
0.5173572208873041
0.5158866343180786
0.5146853127983128
0.51361967681926
0.5126305118904284
0.5116909222923245
0.5107883298266642
0.5099165853070474
0.5090724561153457
0.5082540453997445
0.5074600756267684
0.5066895624659091
0.5059416659889021
0.5052156226964004

In [16]:
Z=np.dot(W.T,X_train)+b
pred=np.zeros((1,m))
A=1/(1+np.exp(-Z))
for i in range(X_train.shape[1]):
    if(A[0][i]>=0.5):
        pred[0][i]=1
    else:
        pred[0][i]=0
print("test accuracy: {} %".format(100 - np.mean(np.abs(pred - Y_train)) * 100))

test accuracy: 78.075 %

In [ ]:
#Testing
Z=np.dot(W.T,X_test)+b
pred=np.zeros((X_test.shape[1]))
A=1/(1+np.exp(-Z))
for i in range(X_test.shape[1]):
    if(A[i]>0.5):
        pred[i]=1
    else:
        pred[i]=0

In [ ]:
#SucessRate
print("test accuracy: {} %".format(100 - np.mean(np.abs(pred - Y_test)) * 100))